.cart-container {
  display: inline-block;
  margin: 0;
}

.cart-icon {
  font-size: 24px;
}

.cart-badge {
  position: absolute;
  top: 8px; 
  right: -8px; 
  width: 24px;
  height: 24px;
  background-color: red; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue; 
  font-weight: bold;
  font-size: 14px;
}
